<ion-view title="App home">
    <ion-nav-buttons side="right">
        <!--<button class="button clear">Add</button>-->
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
          <ion-item style="padding:0px;border-top-width:0px;">
                <div class="bar bar-header bar-light">
                    <div>
                        <img class="imgUserFeed" src="img/avatar.jpg">
                        <p class="usernameFeed">Username</p>
                    </div>            
                </div>
                <div class="divImgFeed">
                     <img class="imgFeed" src="img/paisagem.jpg">
                </div>
                <div class="footerFeed">
                    <button class="button-heart ion-ios-heart-outline"></button>
                    <button class="button-chat ion-ios-chatbubble-outline"></button>
                </div>
                <div class="">
                    <i class="ion-ios-heart-outline">></i>
                </div>                    
                <div class="descFeed">
                    Descrição
                </div>
         </ion-item>

         <ion-item>
                
               <!-- <div class="item item-avatar">
                    <img src="img/avatar.jpg" width="30px" height="30px">
                    <h3 style="padding-left:0px;float:left" class="padding">Username</h3>
                    <button style="padding-left:0px;float:right" class="button button-icon icon ion-android-more-vertical"></button>
                </div>            
                
                <div class="item item-image">
                     <img src="img/paisagem.jpg">
                </div>
                <div class="item">
                    <button class="button button-icon ion-android-favorite-outline"></button>
                    <button class="button button-icon ion-android-textsms"></button>
                </div>
                <p class="item" href="#">
                    Descrição
                </p>-->
         </ion-item>
        </ion-list>
      </ion-content>
      <div class="tabs tabs-icon-only">
        <a class="tab-item active" href="#" ng-click="home">
          <i class="icon ion-ios-home"></i>
          Test
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-ios-plus"></i>
          Favorites
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-ios-search-strong"></i>
          Settings
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-ios-person"></i>
          Settings
        </a>
      </div>
</ion-view>